<!DOCTYPE html>

<html>
  <head>
    <title>Welcome to MAVServer</title>
    <style>

      html, body { margin: 0; padding: 0; }
      body { padding: 15px 20px; font-family: Helvetica, Arial, sans-serif; }
      pre { font-size: 1.2em; }

    </style>

    <script src="/static/jquery.min.js"></script>
    <!-- <script src="/static/socket.io.min.js"></script> -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    
    <script>
      var socket = io.connect('//' + document.domain + ':' + location.port);
      
      socket.on('connect', function() {
        
        console.log("Connected to socket server")

        socket.on('pyr_status', function (arg) {
          $("#pyr_status_h1").text('Attitude:')
          $("#pyr_status").text(JSON.stringify(arg, null, '  '));
        });
      
      });
      
      socket.on('vfr_hud', function (arg) {
        console.log("Received vfr_hud");
        $("#vfr_hud_h1").text('VFR_HUD:')
        $("#vfr_hud").text(JSON.stringify(arg, null, '  '));
      
      });

      socket.on('battery_status', function (arg) {
        console.log("Received battery_status");
        $("#battery_status_h1").text('BATTERY_STATUS:')
        $("#battery_status").text(JSON.stringify(arg, null, '  '));
      
      });

    </script>
  </head>
  
  <body>
    <h1 id="pyr_status_h1">Waiting for connection...</h1>
    <pre id="pyr_status"></pre>
    
    <h1 id="vfr_hud_h1">Waiting for connection...</h1>
    <pre id="vfr_hud"></pre>
    
    <h1 id="battery_status_h1">Waiting for connection...</h1>
    <pre id="battery_status"></pre>
  </body>

  </html>